@charset "utf-8";
/*CSS Document*/

.mobile_btn {
    position: relative;
}
.hamburger-wrap{
    cursor: pointer;
}
.hamburger>span {
    display:block;
    width:25px;
    height:3px;
    margin-bottom:5px;
    background-color:black;
    transition: transform 0.5s, opacity 0.5s;
}
.hamburger-wrap.active span:nth-child(1) {
    transform:translateY(8px) rotate(45deg);
}
.hamburger-wrap.active span:nth-child(2) {
    opacity:0;
}
.hamburger-wrap.active span:nth-child(3) {
    transform:translateY(-8px) rotate(-45deg);
}


/**사이드메뉴바 구현**/

.sidebar{
    margin-left: -26px;
    margin-top: -1000px;
    z-index: -99999;
    transition: all 0.7s;
}
.sidebar.on{
    margin-top: 40px;
    z-index: -99999;
}
.side-ul{
    display: flex;
    width: 1400px;
    position: absolute;
    margin-left: -1350px;
    z-index: -99999;
}
.side-ul>li{
    width: 16.66%;
    background: white;
    opacity: 0.9;
    border: 1px solid #eee;
    padding: 50px 0 30px 20px;
}
.side-ul>li>a{
    font-weight: 600;
    font-size: 1.2em;
    color: black;
}
.side-ul>li>a::after{
    border-bottom: 2px solid darkred;
    content: "";
    display: block;
    width: 20px;
    margin: 15px 0;
}
.side-ul-001>li>a{
    color: #777;
    line-height: 2.5;
    font-weight: 600;
}
.side-ul-001>li>a:hover{
    color: darkred;
}
