@charset "utf-8";
/*CSS Document*/

/***pen***/
.scroll_wrap1 {
    width: 100%;
    overflow:hidden; 
}
.scroll_wrap1.on1{
    display: block;
}
.scroll_wrap1.on2{
    display: none;
}
.scroll_wrap1 .scroll_wrap2 { 
    width: 200%;
    height: 610px;
    padding: 20px 0;
    background: #e9e9e9;
}
.scroll_wrap1 .scroll_wrap2 > ul{
    display: flex;
}
.scroll_wrap1 .scroll_wrap2 > ul > li {
    width: 300px;
    margin: 0 40px 0 0;
    -webkit-user-select: none;
	-khtml-user-select: none; 	
    -moz-user-select: none; 	
    -o-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.box1_wrap{
    width: 100%;
    height: 580px;
    background: white;
}

.box1_contain{
    padding-top: 510px;
    text-align: left;
    line-height: 1.7;
}
.box1_contain>p{
    color: #999;
    font-size: 0.8em;
}
.box1_contain>h3{
    color: black;
}
.box1_contain>p,.box1_contain>h3{
    margin-left: 20px;
}

.box1{
    width: 100%;
    height: 500px;
}

/**pen**/
.pen1{background: url(pen/pen1.jpg)no-repeat;background-position: center;background-size: cover;}
.pen2{background: url(pen/pen2.jpg)no-repeat;background-position: center;background-size: cover;}
.pen3{background: url(pen/pen3.jpg)no-repeat;background-position: center;background-size: cover;}
.pen4{background: url(pen/pen4.jpg)no-repeat;background-position: center;background-size: cover;}
.pen5{background: url(pen/pen5.jpg)no-repeat;background-position: center;background-size: cover;}
.pen6{background: url(pen/pen6.jpg)no-repeat;background-position: center;background-size: cover;}
.pen7{background: url(pen/pen7.jpg)no-repeat;background-position: center;background-size: cover;}
.pen8{background: url(pen/pen8.jpg)no-repeat;background-position: center;background-size: cover;}
.pen9{background: url(pen/pen9.jpg)no-repeat;background-position: center;background-size: cover;}
.pen10{background: url(pen/pen10.jpg)no-repeat;background-position: center;background-size: cover;}


/***마카***/
.scroll_wrap3 {
    width: 100%;
    overflow:hidden;
    display: none;
}
.scroll_wrap3.on3{
    display: block;
}
.scroll_wrap3.on4{
    display: none;
}
.scroll_wrap3 .scroll_wrap4 { 
    width: 200%;
    height: 610px;
    padding: 20px 0;
    background: #e9e9e9;
}
.scroll_wrap3 .scroll_wrap4 > ul{
    display: flex;
}
.scroll_wrap3 .scroll_wrap4 > ul > li {
    width: 300px;
    margin: 0 40px 0 0;
    -webkit-user-select: none;
	-khtml-user-select: none; 	
    -moz-user-select: none; 	
    -o-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.box2_wrap{
    width: 100%;
    height: 580px;
    background: white;
}

.box2_contain{
    padding-top: 510px;
    text-align: left;
    line-height: 1.7;
}
.box2_contain>p{
    color: #999;
    font-size: 0.8em;
}
.box2_contain>h3{
    color: black;
}
.box2_contain>p,.box2_contain>h3{
    margin-left: 20px;
}

.box2{
    width: 100%;
    height: 500px;
}

/**마카**/
.maca1{background: url(maca/1.jpg)no-repeat;background-position: center;background-size: cover;}
.maca2{background: url(maca/2.jpg)no-repeat;background-position: center;background-size: cover;}
.maca3{background: url(maca/3.jpg)no-repeat;background-position: center;background-size: cover;}
.maca4{background: url(maca/4.jpg)no-repeat;background-position: center;background-size: cover;}
.maca5{background: url(maca/5.jpg)no-repeat;background-position: center;background-size: cover;}
.maca6{background: url(maca/6.jpg)no-repeat;background-position: center;background-size: cover;}
.maca7{background: url(maca/7.jpg)no-repeat;background-position: center;background-size: cover;}
.maca8{background: url(maca/8.jpg)no-repeat;background-position: center;background-size: cover;}
.maca9{background: url(maca/9.jpg)no-repeat;background-position: center;background-size: cover;}
.maca10{background: url(maca/10.jpg)no-repeat;background-position: center;background-size: cover;}


/***형광펜***/
.scroll_wrap5 {
    width: 100%;
    overflow:hidden;
    display: none;
}
.scroll_wrap5.on5{
    display: block;
}
.scroll_wrap5.on6{
    display: none;
}
.scroll_wrap5 .scroll_wrap6 { 
    width: 200%;
    height: 610px;
    padding: 20px 0;
    background: #e9e9e9;
}
.scroll_wrap5 .scroll_wrap6 > ul{
    display: flex;
}
.scroll_wrap5 .scroll_wrap6 > ul > li {
    width: 300px;
    margin: 0 40px 0 0;
    -webkit-user-select: none;
	-khtml-user-select: none; 	
    -moz-user-select: none; 	
    -o-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.box3_wrap{
    width: 100%;
    height: 580px;
    background: white;
}

.box3_contain{
    padding-top: 510px;
    text-align: left;
    line-height: 1.7;
}
.box3_contain>p{
    color: #999;
    font-size: 0.8em;
}
.box3_contain>h3{
    color: black;
}
.box3_contain>p,.box3_contain>h3{
    margin-left: 20px;
}

.box3{
    width: 100%;
    height: 500px;
}

/**마카**/
.hpen1{background: url(highlighter/1.jpg)no-repeat;background-position: center;background-size: cover;}
.hpen2{background: url(highlighter/2.jpg)no-repeat;background-position: center;background-size: cover;}
.hpen3{background: url(highlighter/3.jpg)no-repeat;background-position: center;background-size: cover;}
.hpen4{background: url(highlighter/4.jpg)no-repeat;background-position: center;background-size: cover;}


/**미술용품**/
.scroll_wrap7 {
    width: 100%;
    overflow:hidden;
    display: none;
}
.scroll_wrap7.on7{
    display: block;
}
.scroll_wrap7.on8{
    display: none;
}
.scroll_wrap7 .scroll_wrap8 { 
    width: 200%;
    height: 610px;
    padding: 20px 0;
    background: #e9e9e9;
}
.scroll_wrap7 .scroll_wrap8 > ul{
    display: flex;
}
.scroll_wrap7 .scroll_wrap8 > ul > li {
    width: 300px;
    margin: 0 40px 0 0;
    -webkit-user-select: none;
	-khtml-user-select: none; 	
    -moz-user-select: none; 	
    -o-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.box4_wrap{
    width: 100%;
    height: 580px;
    background: white;
}

.box4_contain{
    padding-top: 510px;
    text-align: left;
    line-height: 1.7;
}
.box4_contain>p{
    color: #999;
    font-size: 0.8em;
}
.box4_contain>h3{
    color: black;
}
.box4_contain>p,.box4_contain>h3{
    margin-left: 20px;
}

.box4{
    width: 100%;
    height: 500px;
}

/**미술용품**/
.art1{background: url(미술용품/1.jpg)no-repeat;background-position: center;background-size: cover;}
.art2{background: url(미술용품/2.jpg)no-repeat;background-position: center;background-size: cover;}
.art3{background: url(미술용품/3.jpg)no-repeat;background-position: center;background-size: cover;}
.art4{background: url(미술용품/4.jpg)no-repeat;background-position: center;background-size: cover;}
.art5{background: url(미술용품/5.jpg)no-repeat;background-position: center;background-size: cover;}
.art6{background: url(미술용품/6.jpg)no-repeat;background-position: center;background-size: cover;}
.art7{background: url(미술용품/7.jpg)no-repeat;background-position: center;background-size: cover;}
.art8{background: url(미술용품/8.jpg)no-repeat;background-position: center;background-size: cover;}
.art9{background: url(미술용품/9.jpg)no-repeat;background-position: center;background-size: cover;}
.art10{background: url(미술용품/10.jpg)no-repeat;background-position: center;background-size: cover;}